<div ng-hide="bItemsLoad">
<md-card>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</md-card>
</div>
<div ng-show="bItemsLoad">
<md-card style="margin:0px">
    <md-subheader>Filter by search</md-subheader>

    <md-input-container style="margin:15px;">
        <label>Search</label>
        <input type="text" ng-model="filterName">
    </md-input-container>

    <div ng-hide="true">
        {{(filteredItems = (productList | filter: filterName))}}
    </div>
</md-card>

<md-card style="margin:0px; margin-top:8px">
<mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" mdt-row="{'data': filteredItems,
                                                                                          'table-row-id-key': 'id',
                                                                                          'column-keys': ['name', 'price', 'url', 'images', 'interesting_info', 'description', 'fake_votes']}"
           table-card="{visible: true, title: 'Product battle'}"
           selectable-rows="true"
           alternate-headers="'contextual'"
           sortable-columns="true"
           delete-row-callback="deleteRowCallback(rows)"
           create-battle-callback="createBattleCallback(rows)"
        >
    <mdt-header-row>
        <mdt-column align-rule="left">Name</mdt-column>
        <mdt-column align-rule="left">Price</mdt-column>
        <mdt-column align-rule="left">Url</mdt-column>
        <mdt-column align-rule="left">Images</mdt-column>
        <mdt-column align-rule="left">Interresting info</mdt-column>
        <mdt-column align-rule="left">Description</mdt-column>
        <mdt-column align-rule="left">Fake votes</mdt-column>
    </mdt-header-row>
</mdt-table>
</md-card>
</div>